<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page | <%= head %></title>
</head>
<body>

    <h1>About Section</h1>
    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, recusandae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla iure quia doloremque deserunt inventore. Mollitia quae tempora consequuntur praesentium suscipit sunt dolorum, accusantium repellendus aliquid possimus autem delectus. Voluptatibus voluptate voluptatum neque ab repudiandae minima illo at tempore consectetur quidem mollitia vel fugit, sunt accusantium itaque ratione, consequuntur nobis quam a excepturi! Placeat eius optio ex quia illum soluta cumque facilis, nulla fuga ducimus officiis laudantium consequuntur nihil recusandae, aut illo, doloribus corporis repellat iste architecto cupiditate? Facere, modi itaque.</div>
    <%- include('./partials/nav.ejs') %>

    <br/>
    <br/>
    <br/>

    <%- include('./partials/footer.ejs') %>

</body>
</html>