<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page | <%= head %></title>
</head>
<body>
    <h1>Blogs Section</h1>
    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, recusandae?</div>
    <div><a href="/">Home</a></div>
    <div><a href="/about">About</a></div>
    <div><a href="/blogs/create">Create Blogs</a></div>

    <br/>
    <br/>
    <br/>

    <form>
        <label for="title">Blog Title:</label>
        <input type="text" id="title" required>
        <label for="snippet">Blog Snippet:</label>
        <input type="text" id="snippet" required>
        <label for="body">Blog Body:</label>
        <input type="text" id="body" required>
        <button>Submit</button>
    </form>
</body>
</html>