<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page | <%= blogs.title %></title>
</head>
<body>
    <h1>Home Section</h1>
    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, recusandae?</div>
    <div><a href="/">Home</a></div>
    <div><a href="/about">About</a></div>
    <div><a href="/blogs/create">Create Blogs</a></div>

    <br/>
    <br/>
    <br/>
    <p>All Blogs:</p>
    <div>
       <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <h4><%= blog.title%></h4>
                <p><%= blog.snippet%></p>
            <% }) %>
       <% }%>
    </div>
</body>
</html>